appnope           
asttokens         
certifi           
charset-normalizer
comm              
contourpy         
cycler            
debugpy           
decorator         
executing         
fonttools         
gevent            
greenlet          
idna              
ipykernel         
ipython           
jedi              
jupyter_client    
jupyter_core      
kiwisolver        
matplotlib        
matplotlib-inline 
mplfinance        
nest-asyncio      
numpy             
omitempty         
packaging         
pandas            
parso             
pexpect           
pillow            
pip               
platformdirs      
prompt-toolkit    
psutil            
ptyprocess        
pure-eval         
Pygments          
pyparsing         
python-dateutil   
pytz              
pyzmq             
requests          
setuptools        
six               
SQLAlchemy        
stack-data        
TA-Lib            
tornado           
traitlets         
typing_extensions 
tzdata            
urllib3           
wcwidth           
websocket-client  
zope.event        
zope.interface    
appnope           
asttokens         
certifi           
charset-normalizer
comm              
contourpy         
cycler            
debugpy           
decorator         
executing         
fonttools         
gevent            
greenlet          
idna              
ipykernel         
ipython           
jedi              
jupyter_client    
jupyter_core      
kiwisolver        
matplotlib        
matplotlib-inline 
mplfinance        
nest-asyncio      
numpy             
omitempty         
packaging         
pandas            
parso             
pexpect           
pillow            
pip               
platformdirs      
prompt-toolkit    
psutil            
ptyprocess        
pure-eval         
Pygments          
pyparsing         
python-dateutil   
pytz              
pyzmq             
requests          
setuptools        
six               
SQLAlchemy        
stack-data        
tornado           
traitlets         
typing_extensions 
tzdata            
urllib3           
wcwidth           
zope.event        
zope.interface    
schedule